{%extends 'base.html' %}

{% block body %}
<div>
  <h3> Add a New Material </h3>
  <a href="{{url_for('index')}}"> Home </a>
  <br>

  <form method ="POST" action="{{ url_for('add_materials')}}">

    {{form.csrf_token}}
    <table style = "width=100%">
      <tr>
        <th>{{form.Title.label}}</th>
        <th>{{form.Title}}</th>
      </tr>
      <tr>
        <th>{{form.Creator.label}}</th>
        <th>{{form.Creator}}</th>
      </tr>
      <tr>
        <th>{{form.YearCreated.label('Year Created:')}}</th>
        <th>{{form.YearCreated}}</th>
      </tr>
      <tr>
        <th>{{form.Genre.label}}</th>
        <th>{{form.Genre}}</th>
      </tr>
      <tr>
        <th>{{form.MaterialType.label('Material Type:')}}</th>
        <th>{{form.MaterialType}}</th>
      </tr>
      <tr>
        <th>{{form.Available.label}}</th>
        <th>{{form.Available}}</th>
      </tr>
      <tr>
        <th>{{form.DateAcquired.label('Date Acquired:')}}</th>
        <th>{{form.DateAcquired}}</th>
      </tr>
      <tr>
        <th>{{form.LastModified.label('Last Modified:')}}</th>
        <th>{{form.LastModified}}</th>
      </tr>
    </table>

  <input type="submit" value="Add a New Material">

  </form>

</div>

{% endblock %}
