 {% extends 'base.html' %}

    {% block body %}

<p><a href="{{ url_for('index')}}"> Home </a></p>

<p><a href="{{ url_for('check_out')}}"> Check Out </a></p>
<h3> Search for checked-out material by patron's First Name: </h3>
<form method="POST">
    <input type="text" autofocus="autofocus" name="search_string">
    <input type="submit" formaction="/searchCirculations" value="Search">
</form>

<p><a href="{{ url_for('check_out')}}"> Check-Out</a></p>
<p><a href="{{ url_for('check_in')}}"> Check-In</a></p>

{% endblock %}
