

    {% extends 'base.html' %}

    {% block body %}


<h3> Search for Materials by Title: </h3>
<form method="POST">
    <input type="text" autofocus="autofocus" name="search_string">
    <input type="submit" formaction="/searchMaterials" value="Search">
</form>

    <p><a href="{{ url_for('add_materials')}}"><button> Add a new material</button></a></p>

{% with messages = get_flashed_messages() %}
 {% if messages %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
   {% for message in messages %}
   <strong>Alert!</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
   {% endfor %}
   {% endif %}
   {% endwith %}
 </div>

         <h3>{{ legend }}</h3>
    {% if materials %}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Creator</th>
                    <th>Genre</th>
                    <th>MaterialType</th>
                    <th>Available</th>
                </tr>
            </thead>

            <tbody>
                {% for row in materials %}
                <tr>
                    <td> {{ row.Title }} </td>
                    <td> {{ row.Creator }} </td>
                    <td> {{ row.Genre }} </td>
                    <td> {{ row.MaterialType }} </td>
                    <td> {{ row.Available }} </td>
                        <td>
                <form action="{{ url_for('material', material_id=row.MaterialsID) }}" method="POST">
                    <input type="submit" value="Details" class="btn btn-info" />
                </form>
            </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% endblock %}
