<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<style>
#flash { display:none; background-color:white; color:red}

body{
  background-image: url(static/background.jpg)
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


th,td{
  padding: 10px;
  text-align: center;
}

th,h1,h3{
  background-color: #a70000;
  color: white;
}

tr:nth-child(even)
{
  background-color: #e8e8e8;
}

tr:nth-child(odd)
{
  background-color: #FFFFFF;
}

</style>

<script>
    $(function() {
   $('#flash').delay(500).fadeIn('normal', function() {
      $(this).delay(2500).fadeOut();
   });
});
</script>

</head>

  <body>
      <h1> West Branch Public Library Catalogue </h1>
      <hr>

      <div class="topnav">
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('AllMaterials') }}">Materials</a>
        <a href="{{ url_for('AllPatrons') }}">Patrons</a>
        <a href="{{ url_for('AllCirculations') }}">Circulation</a>
      </div>
      {% block body %}

	  {% endblock %}

 </body>

</html>
