{% extends 'base.html' %}
{% block body %}

<div>

  <h3>{{ legend }}</h3>

  {% with messages = get_flashed_messages() %}
   {% if messages %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
     {% for message in messages %}
     <strong>Alert!</strong> {{ message }}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
     {% endfor %}
     {% endif %}
     {% endwith %}
   </div>




  <form method ="POST" action="">

    {{ form.csrf_token }}
    <table style = "width=100%">
      <tr>
        <th>{{ form.patron_id.label }}</th>
        <th>{{ form.patron_id }}</th>
      </tr>
      <tr>
        <th>{{ form.MaterialsID.label }}</th>
        <th>{{ form.MaterialsID }}</th>
      </tr>
    </table>

    <input type="submit" value="Check-Out">

  </form>

</div>
{% endblock %}
