{%extends 'base.html' %}

{% block body %}
  <h2> Library Materials </h2>

  <form method="POST">
    <input type="text" autofocus="autofocus" name = "search_string">
    <input type="submit" formaction="/search" value="Search">
  </form>

  <p>
    <a href="{{url_for('index')}}"> Home </a>
    <br>
    <a href="{{url_for('.add_materials')}}"> Add new materials</a>
  {% if material %}
  <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year Created</th>
                <th>Genre</th>
                <th>Available</th>
                <th>Date Aquired</th>
                <th>Date Last Modified</th>
            </tr>
        </thead>

        <tbody>
            {% for row in material %}
            <tr>
                <td> {{ row.MaterialType }}</td>
                <td> {{ row.Title }}</td>
                <td> {{ row.Creator }}</td>
                <td> {{ row.YearCreated }}</td>
                <td> {{ row.Genre }}</td>
                <td> {{ row.Available }}</td>
                <td> {{ row.DateAcquired }}</td>
                <td> {{ row.LastModified }}</td>


        <td>
      <form action="/delete_material/{{ row.MaterialsID}}" method="POST">
        <input type="submit" value="Delete"/>
      </form>
                    </td>
                      </tr>
            {% endfor %}
            </tbody>
        </table>
{% endif %}
{% endblock %}
