{%extends 'base.html' %}

{% block body %}
  <h2> Library Materials </h2>

  <form method="POST">
    <input type="text" autofocus="autofocus" name = "search_string">
    <input type="submit" formaction="/search" value="Search">
  </form>

  <p> <a href="{{url_for('.add_materials')}}"> Add new materials</a>
  {% if material %}
  <table>
        <thead>
            <tr>
                <th>Type</th>
                <th>Title</th>
                <th>Author</th>
                <th>Year</th>
                <th>Genre</th>
                <th>ISBN</th>
                <th>Available?</th>
                <th>Date Aquired</th>
                <th>Date Modified</th>
            </tr>
        </thead>

        <tbody>
            {% for row in material %}
            <tr>
                <td> {{ row.type }}</td>
                <td> {{ row.title }}</td>
                <td> {{ row.author }}</td>
                <td> {{ row.year }}</td>
                <td> {{ row.genre }}</td>
                <td> {{ row.isbn }}</td>
                <td> {{ row.available }}</td>
                <td> {{ row.date_acquired }}</td>
                <td> {{ row.date_modified }}</td>


        <td>
      <form action="/delete_material/{{ row.material_id }}" method="POST">
        <input type="submit" value="Delete"/>
      </form>
                    </td>
                      </tr>
            {% endfor %}
            </tbody>
        </table>
{% endif %}
{% endblock %}
