{% extends 'base.html' %}
{% block body %}
<div>
  <h3>{{ legend }}</h3>

  {% with messages = get_flashed_messages() %}
   {% if messages %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
     {% for message in messages %}
     <strong>Alert!</strong> {{ message }}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
     {% endfor %}
     {% endif %}
     {% endwith %}
   </div>


{% if form %}
  <form method="POST">
    <table>
        <tr>
          <th>Material ID:</th>
          <th>{{ form.MaterialsID }}
        </tr>
        <tr>
          <th>Title: </th>
          <th>{{ form.Title }}</th>
        </tr>
        <tr>
          <th>Creator: </th>
          <th>{{ form.Creator }}</th>
        </tr>
        <tr>
          <th>Year Created: </th>
          <th>{{ form.YearCreated }}</th>
        </tr>
        <tr>
          <th>Genre: </th>
          <th>{{ form.Genre }}</th>
        </tr>
        <tr>
          <th>Material Type: </th>
          <th>{{ form.MaterialType }}</th>
        </tr>
        <tr>
          <th>Available: </th>
          <th>{{ form.Available }}</th>
        </tr>
        <tr>
          <th>Date Acquired: </th>
          <th>{{ form.DateAcquired }}</th>
        </tr>
        <tr>
          <th>Last Modified: </th>
          <th>{{ form.LastModified }}</th>
        </tr>
    </table>


    <input type="submit" formaction="{{url_for('update_material', material_id=form.MaterialsID)}}" value="Update">
    <input type="submit" formaction="{{url_for('delete_material', material_id=form.MaterialsID)}}" value="Delete">



  </form>
{% endif %}
</div>
{% endblock %}
